@import "../../styles/colors";

.formSubmitGroup {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  left: 0;
  text-align: right;
  border-top: 1px solid @grey300;
}

.subSchema {
  position: absolute;
  right: 0;
  width: 32px;
  top: 0;
  bottom: 37px;
  background: @grey50;
}

.subSchemaFields {
  position: absolute;
  right: 32px;
  left: 0;
  top: 0;
  bottom: 0;
  border-left: 1px solid @grey300;
  &Title {
    line-height: 16px;
    font-size: 13px;
    font-family: lucida sans unicode;
    margin-bottom: 6px;
    padding-left: 6px;
    padding-top: 4px;
    color: @red500;
  }
}

.tabIcons {
  border-left: 1px solid @grey300;
  position: absolute;
  right: 0;
  width: 32px;
  bottom: 0;
  height: 100%;
  i {
    font-size: 18px;
    padding: 4px 6px;
    border-bottom: 1px solid @grey300;
    border-top: 1px solid @transparent;
    border-right: 1px solid @transparent;
    border-left: 1px solid @transparent;
    &:hover {
      border: 1px solid @grey600;
    }

  }
}

.input {
  &Row {
    height: 25px;
  }
  &Title {
    min-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    padding-left: 10px;
  }
  &Field {
    display: inline-block;
  }
}
