@import "../../styles/colors";

.selected {
  color: @red400;
  cursor: pointer;
}

.postHeading {
  color: @red600;
  position: absolute;
  bottom: 220px;
  right: 0;
  left: 0;
  margin-left: 8px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  font-family: "Lucida Sans Unicode";
}

.form {
  font-size: 13px;
  padding: 4px;
  margin: 10px 6px;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  border-radius: 1px;
  height: 40%;
  position: absolute;
  bottom: 15px;
  right: 0;
  left: 0;
}
