@import "../../styles/colors";

.selected {
  color: @red400;
  cursor: pointer;
}

.post {
  font-size: 13px;
  padding: 4px;
  margin: 10px 6px;
  border: 1px solid @grey300;
  background-color: @white;
  border-radius: 2px;
  width: 50%;
  &Tab {
    margin-bottom: 4px;
    padding: 3px 7px;
    display: inline-flex;
    width: 100%;
    border-bottom: 1px solid @grey300;
    color: @grey500;
  }
  &Heading {
    text-align: left;
    color: @red400;
  }
}
