@import "../_styles/colors";

.alignLeft {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

.inlContainer {
  position: relative;
  &Elem {
    position: absolute;
    top: 7px;
    right: 0;
  }
}

.alignRight {
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
}

.labelCell {
  &Tags {
    border: 1px solid @grey300;
    font-size: 14px;
    margin-right: 5px;
    padding: 0 2px;
    background: @grey100;
    border-radius: 2px;
  }
}
