@import url("../../styles/colors");

.hoFormButton {
  height: 20px;
  min-width: 21px;
  margin-right: 8px;
  padding: 2px 6px;
  border: solid 1px @grey400;
  border-radius: 1px;
  background-color: @grey400;
  color: @grey50;
  font-size: 12px;
  &:hover {
    border: solid 1px @grey900;
  }
  &:last-child {
    margin-right: 0;
  }
}

.hoFormButtonWithAccent {
  border: solid 1px @redA200;
  background-color: @redA200;
  &:hover {
    border: solid 1px @red900;
  }
}
