@import "../../styles/colors";

.addContentBtnGroup {
  padding: 8px 3px;
  text-align: right;
}

.formElement {
  margin-bottom: 10px;
  &Input {
    width: 100%;
  }
  .formElementTitle {
    margin-bottom: 4px;
  }
}
