@import "../_styles/colors";
@import "../_styles/spacing";;

// Datagrid body
.body {
  .absolute-position-mixin(@top: 38px);
  background-color: @white;
  overflow: auto;
}

.slice {
  min-width: 100%;
  position: absolute;
}
