@import "../_styles/colors";
@import "./config";

.row {
  .absolute-position-mixin();
  height: @rowHeight;
  background-color: @white;
  border-bottom: 1px solid @grey300;
}

.cols {
  display: inline-block;
  height: @rowHeight;
  white-space: nowrap;
}
