@import "../../../styles/colors";
@import "../config";
@titleBarHt : 45px;

// TitleBar Style
.titleBar {
  .absolute-position-mixin(@breadcrumbHt);
}

// Sidebar Container Style
.sidebar {
  .absolute-position-mixin(@breadcrumbHt+@titleBarHt, @left:auto);
  width: 180px;
  background-color: @grey50;
  border-left: 1px solid @grey300;
}

// DataGrid Container Style
.entrygrid {
  .absolute-position-mixin(@top: @breadcrumbHt+@titleBarHt, @right: 180px);
  padding: 0 0 10px 0;
  background-color: @white;
}
