@import url("../../client/styles/colors");

.ho-search-btn {
  height: 25px;
  background-color: @white;
  width: 100%;
  border: 1px solid @grey500;
  &:hover {
    border: 1px solid @grey900;
    cursor: pointer;
  }

  &-input {
    outline: none;
    width: 90%;
    height: 100%;
    background-color: @white;
    border: none;
    padding: 0 5px;
    &:hover {
      cursor: pointer;
    }
  }

  &-fa-icon {
    font-size: 13px;
    padding: 5px 4px;
    width: 10%;
  }
}

.ho-btn {
  height: 22px;
  min-width: 26px;
  margin-right: 8px;
  padding: 2px 6px;
  border: solid 1px @grey600;
  font-size: inherit;
  color: @grey500;
  &:hover {
    border: solid 1px @grey900;
    color: @grey900;
  }
}

.ho-form-btn {
  height: 20px;
  min-width: 21px;
  margin-right: 8px;
  padding: 2px 6px;
  border: solid 1px @grey400;
  border-radius: 1px;
  background-color: @grey400;
  color: @grey50;
  font-size: 12px;
  &:hover {
    border: solid 1px @grey900;
  }

  &.accent {
    border: solid 1px @redA200;
    background-color: @redA200;
    &:hover {
      border: solid 1px @red900;
    }
  }
}

button {
  cursor: pointer;
  text-align: center;
  outline: none;
  background-color: transparent;
}
