@import "../../_styles/colors";
@import "../config";

/**
// App Container
// This container serves as the root for all the below elements
*/
.base {
}

// Breadcrumb Style
.breadcrumb {
}

// TitleBar Style
.titleBar {
}

// Sidebar Container Style
.sidebar {
  width: 200px;
  background-color: @grey50;
  border-left: 5px solid @grey300;
  padding-top: 15px;
  padding: 15px;
  &Button {
    width: 100%;
    margin: 0 0 6px 0;
    height: 28px;
    text-align: left;
  }
}

// DataGrid Container Style
.entrygrid {
  margin: 10px;
  background-color: @white;
}
