@import "../../_styles/colors";
@import "../config";

/**
// App Container
// This container serves as the root for all the below elements
*/
.base {
  .absolute-position-mixin();
}

// Breadcrumb Style
.breadcrumb {
  .absolute-position-mixin();
}

// TitleBar Style
.titleBar {
  .absolute-position-mixin(@breadcrumbHt);
}

// Sidebar Container Style
.sidebar {
  .absolute-position-mixin(@breadcrumbHt+@titleBarHt, @left: auto);
  width: 150px;
  background-color: @grey50;
  border-left: 5px solid @grey300;
  padding-top: 15px;
  &Button {
    width: 130px;
    margin: 0px 8px;
    height: 25px;
    text-align: left;
    font-weight: 400;
    margin-bottom: 5px;
  }
}

// DataGrid Container Style
.entrygrid {
  .absolute-position-mixin(@top: @breadcrumbHt+@titleBarHt, @right: 150px);
  margin: 10px;
  background-color: @white;
}
