@import "../_styles/colors";

.actionsSeperator {
  width: 1px;
  height: 22px;
  border-left: 1px solid @grey500;
}

.navbar {
  border-bottom: 2px solid #e0e0e0;
  border-radius: 0;
  padding: 8px 0;
}

.menuButtons button {
  margin-right: 8px;
}
