@import "../../styles/colors";

.formSubmitGroup {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: right;
}

.subFields {
  border: 1px solid @grey400;
  border-radius: 1px;
  margin-bottom: 12px;
  padding: 4px 10px 10px 10px;
  overflow: auto;
  max-height: 55%;
}

.fields {
  border: 1px solid @grey400;
  border-radius: 1px;
  margin-bottom: 12px;
  padding: 10px;
  overflow: auto;
  max-height: 30%;
  &Row {
    padding: 5px 0;
  }
  &RowArray {
    padding: 5px 0;
    border-bottom: 1px solid @grey400;
  }
  &RowArray:first-child {
    border-bottom: 0;
    padding: 5px 0;
  }
}

.title {
  min-width: 180px;
  display: inline-block;
}

.box {
  padding: 1px;
}
