@import "../_styles/colors";

//SearchBar Container
.filterHeader {
  font-size: 17px;
  line-height: 55px;
  font-weight: 500;
  margin-top: 15px;
}

.filterHeaderBlock > div {
  margin-bottom: 10px;
}

.clear {
  font-size: .75rem;
  text-decoration: underline;
  color: @blueGrey600;
}
