@import "../../../styles/colors";

.base {
  border: 1px solid @grey500;
  background-color: white;
  padding-left: 3px;
  cursor: pointer;
  &:hover,
  &:focus {
    border: 1px solid @grey900;
  }
}

.faIcon {
  float: right;
  height: inherit;
  padding-right: 4px;
  padding-top: 4px;
}

.menu {
  background: @white;
  border: 1px solid @grey500;
  font-size: 12px;
  padding: 4px;
  color: @grey700;
  position: absolute;
  min-height: 90px;
  overflow-y: auto;
}

.searchBox {
  height: 25px;
  position: relative;
  &Input {
    height: 100%;
    width: 100%;
    padding: 2px;
    outline: none;
    border: 1px solid @grey500;
    &:hover,
    &:focus {
      cursor: pointer;
      border: 1px solid @grey900;
    }
  }

  &Icon {
    font-size: 12px !important;
    color: gray;
    position: absolute;
    right: 0;
    padding: 6px 5px;
  }
}

