@import "../_route_styles/colors";
@import "config";

/**
// App Container
// This container serves as the root for all the below elements
*/
.base {
  .absolute-position-mixin();
}

// Breadcrumb Style
.breadcrumb {
  .absolute-position-mixin();
  height: @breadcrumbHt;
}

// Context Menu Style
.contextMenu {
  .absolute-position-mixin(@breadcrumbHt);
}

// SearchBar Container Style
.search {
  .absolute-position-mixin(@breadcrumbHt + @actionContainerHt);
  width: 230px;
  background-color: @grey50;
}

// DataGrid Container Style
.datagrid {
  .absolute-position-mixin(@top: @breadcrumbHt + @actionContainerHt,@left: 230px);
  padding: 0 0 10px 0;
  background-color: @white;
}
