@import "../../../routes/styles/colors";

.arrayHeader {
  .clearfix;
  font-size: 14px;
  margin-bottom: 4px;
}

.arrayFields {
  .clearfix;
  max-height: 230px;
  border: 1px solid @grey400;
  border-radius: 1px;
  padding: 0 10px 10px 10px;
  overflow-y: auto;
}

.row {
  display: inline-block;
  margin-top: 5px;
}

.clsBtn {
  padding: 0px 3px;
  min-width: 0;
  font-size: 11px;
  margin-top: 11px;
  span {
    margin: 0;
  }
}

.ip {
  float: left;
  margin-right: 10px;
}

.idx {
  float: left;
  margin-right: 10px;
  margin-top: 11px;
}
