@import "../_styles/colors";

@rowHeight: 38px;

.spinner {
  position: absolute;
  top: 15%;
  left: 50%;
  color: @grey500;
}

.egBody {
  background-color: #ffffff;
  text-align: center;
  padding: 50px;
  font-weight: 500;
}

.pgContainer {
  position: relative;
  overflow-x: auto;
  background-color: @white;
}

.bodycell {
  height: @rowHeight;
  line-height: @rowHeight;
  font-size: 15px;
  padding-left: 12px;
  padding-right: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  display: inline-block;
}

.row {
  display: inline-block;
  border-bottom: 1px solid @grey300;
  height: @rowHeight;
  line-height: @rowHeight;
  white-space: nowrap;
  background-color: @white;
}

.col {
  height: @rowHeight;
  display: inline-block;
  border-right: 1px solid @grey300;
  vertical-align: middle;
  &:last-child {
    border-right: none;
  }
}

.headercellTitle {
  padding-left: 12px;
  font-weight: 600;
}
