@import "../_styles/colors";

@rowHeight: 38px;

.base {
  overflow: hidden;
}

.row {
  background-color: @white;
  border-bottom: 1px solid @grey300;
  overflow: hidden;
}

.cols {
  display: inline-block;
  height: @rowHeight;
  white-space: nowrap;
}

.col {
  height: @rowHeight;
  display: inline-block;
  border-right: 1px solid @grey300;
  vertical-align: middle;
}

.tableContainer {
  font-family: "Lucida Sans Unicode";
  font-size: 14px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: @white;
  border: 1px solid @grey300;
  border-radius: 1px;
}

.spinner {
  position: absolute;
  top: 15%;
  left: 50%;
  color: @grey500;
}

.egBody {
  background-color: #ffffff;
  text-align: center;
  padding: 50px;
  font-size: 18px;
  font-weight: 500;
}

.headercell {
  height: @rowHeight;
  line-height: @rowHeight;
  padding-left: 12px;
  padding-right: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  text-align: center;
  &:hover {
    text-decoration: underline;
    background-color: @grey50;
    cursor: pointer;
  }
}

.bodycell {
  height: @rowHeight;
  line-height: @rowHeight;
  padding-left: 12px;
  padding-right: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  border-right: 1px solid @grey300;
}
