@import "../../styles/colors";

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.iconSize {
  font-size: 15px;
}

.refCellFaMargin {
  margin: 4px;
}

.refCellText {
  background-color: @grey50;
  border: 1px solid @grey300;
  border-radius: 4px;
  padding: "2px 3px";
}

.actionCell {
}

.actionCellInner {
  width: 20px;
  margin: 6px 0px;
  text-align: center;
  border: 1px solid @grey300;
  color: @grey500;
  background-color: @grey50;
  font-size: 14px;
  line-height: 25px;
  &:hover {
    border: 1px solid @grey500;
    color: @grey900;
  }
}

.linkCellContainer {
  position: absolute;
  width: 136px;
  &Action {
    position: absolute;
    right: 0;
  }
  &Link {
    position: absolute;
    left: 0;
  }
}
