// Replica of the colors ts file

@transparent: hsla(0, 0%, 0%, 0);

// Grey color pallete
@grey0: hsl(0, 0%, 100%);
@grey50: hsl(0, 0%, 98%);
@grey100: hsl(0, 0%, 93%);
@grey200: hsl(0, 0%, 88%);
@grey300: hsl(0, 0%, 74%);
@grey400: hsl(0, 0%, 62%);
@grey500: hsl(0, 0%, 46%);
@grey600: hsl(0, 0%, 40%);
@grey700: hsl(0, 0%, 38%);
@grey800: hsl(0, 0%, 26%);
@grey900: hsl(0, 0%, 13%);

// Accent Color
@accentLightest: hsl(179, 87%, 22%);
@accentLight: hsl(179, 87%, 32%);
@accent: hsl(179, 87%, 42%);
@accentDark: hsl(179, 87%, 52%);
@accentDarkest: hsl(179, 87%, 62%);
