@import "./colors";
@import "./spacing";

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  background: white;
  display: block;
  box-sizing: border-box;
  margin: 0;
}

a {
  color: @indigo500;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.roll-up-handle {
  position: absolute;
  left: 50%;
  top: 0;
  height: 8px;
  width: 70px;
  color: @grey600;
  border-left: 1px solid @grey600;
  border-right: 1px solid @grey600;
  border-bottom: 1px solid @grey600;
  border-radius: 0 0 2px 2px;
  z-index: 1;
  &:hover {
    color: @grey300;
    border-left: 1px solid @grey300;
    border-right: 1px solid @grey300;
    border-bottom: 1px solid @grey300;
  }
  span {
    position: absolute;
    top: -2px;
    left: 46%;
    font-size: 9px;
    &:after {
      content: "\F0D8";
      font-family: FontAwesome;
    }
  }
}

.roll-down-handle {
  .roll-up-handle();
  color: @grey300;
  border-left: 1px solid @grey300;
  border-right: 1px solid @grey300;
  border-bottom: 1px solid @grey300;
  &:hover {
    color: @grey600;
    border-left: 1px solid @grey600;
    border-right: 1px solid @grey600;
    border-bottom: 1px solid @grey600;
  }
  span {
    &:after {
      content: "\F0D7";
      font-family: FontAwesome;
    }
  }
}

// *********************************************************************************************************
// NavContainer
// *********************************************************************************************************
.ho-nav-container {
  .absolute-position-mixin();
  background-color: @grey800;
  color: @grey50;
  padding: 2px 15px;
  height: @navContainerHt;
  .row {
    padding: 4px 0;
  }
  .brand {
    padding: 1px 0;
    font-size: 18px;
  }
  .link {
    font-size: 14px;
    font-weight: 400;
    border: none;
    color: @grey400;
    margin-right: 22px;
    &:hover {
      border: none;
      color: @white;
    }
  }
  &.rolled-up {
    height: 0;
    padding: 0;
  }
}

// Breadcrumbs
.ho-breadcrumbs {
  color: @grey600;
  background-color: @grey50;
  height: @breadcrumbHt;
  line-height: @breadcrumbHt;
  padding: 0 15px;
  box-shadow: 0 2px 4px -2px @grey600;
  .absolute-position-mixin(@top : @navContainerHt);
  &.rolled-up {
    .absolute-position-mixin();
  }
  ul {
    display: inline-flex;
    margin: 0;
    list-style: none;
    padding: 0;
    font-size: 12px;
    color: @grey600;
  }
}

// *********************************************************************************************************
// Working Area
// *********************************************************************************************************
.ho-staging-container {
  .absolute-position-mixin(@workingAreaTop);
  &.rolled-up {
    .absolute-position-mixin(@breadcrumbHt);
  }

  // ActionContainer
  .ho-action-container {
    .absolute-position-mixin(2px);
    height: @actionContainerHt;
    background-color: @grey50;
    padding: 6px 15px;
    .left {
      color: @grey600;
      font-size: 12px;
      .icon {
        font-size: 14px;
        padding: 0 5px;
        border: solid 1px @grey500;
        color: @grey800;
        background-color: transparent;
        &:hover {
          border: solid 1px @grey900;
        }
        &.active {
          background-color: @grey600;
          color: @white;
        }
      }
    }
    .right {
      color: @grey600;
      font-size: 12px;
      text-align: right;
      .icon {
        .ho-action-container .left .icon();
        margin-right: -1px;
      }
      .sort-block {
        display: inline-block;
        height: 20px;
        width: 230px;
        margin-right: 10px;
      }
    }

    &-divider {
      .absolute-position-mixin(@actionContainerHt);
    }
  }

  // Content Container
  .ho-content-container {
    padding: 0;
    // 1px dimension necessary for accomodating the divider
    .absolute-position-mixin(@actionContainerHt + 1);
  }

  //Search Container
  .ho-search-container {
    .absolute-position-mixin();
    padding: 10px 20px 0 15px;
    width: 230px;
    background-color: @grey50;

    .ho-search-text-box {
      padding: 15px 0;
    }

    .ho-general-filter {
      &-header {
        font-size: 16px;
        line-height: 35px;
      }
      .block {
        font-size: 12px;
        padding: 5px 0;
      }
      .label {
        line-height: 25px;
      }
    }
  }

  //DataGrid Container
  .ho-datagrid-container {
    padding: 0 0 10px 0;
    background-color: @white;
    .absolute-position-mixin(@left: 230px);
  }
}
