@import "../../../styles/colors";

.datebox {

  &Input {
    border: 0;
    font-size: inherit;
    padding-left: 4px;
    outline: none;
    border: 1px solid @grey500;
    &:hover,
    &:focus {
      cursor: pointer;
      border: 1px solid @grey900;
    }
  }
}
